# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/
venv/
env/

# Environment
.env

# Testing / cache
.pytest_cache/
.coverage
htmlcov/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
